<%= simple_form_for(@recofriendation) do |f| %>
<%= f.error_notification %>
<div class="field">
  <div class="control">
    <%= f.input :recofriendation, label: "Make a recomendation to your friends", input_html: { class: "textarea "}, wrapper: false, label_html: {class: "label"}, placeholder: "Make a new recofriendation..." %>
  </div>
</div>
<%= f.button :submit, class: "button is-success"%>    
<% end %>
