<div class="column is-one-quarter">
<nav class="panel">
  <p class="panel-heading">Genres</p>
  <a class="panel-block">
    Movies
  </a>
  <a class="panel-block">
    Books
  </a>    
  <a class="panel-block">
    TV Shows
  </a>  
  <a class="panel-block">
    Music
  </a>  
  <a class="panel-block">
    Art
  </a>  
  <a class="panel-block">
    Restaurants
  </a>
 </nav>
</div> 