<p id="notice"><%= notice %></p>

<p>
  <strong>Recofriendation:</strong>
  <%= @recofriendation.recofriendation %>
</p>

<%= link_to 'Edit', edit_recofriendation_path(@recofriendation) %> |
<%= link_to 'Back', recofriendations_path %>
